.table thead tr th:first-child {
    width: 70px;
}

.table thead tr th {
    border-top: none;
}
.table_main {
    padding: 50px 25px;
}
tbody tr {
    /* display: none; */
}
tbody tr td:first-child {
    font-weight: bold;
}
.table_main h2 {
    font-size: 40px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 0;
}
.table_main .btn {
    outline: none;
    text-decoration: none;
}

.table_main .load-btn {
    text-align: right;
    margin: 25px 0;
}
